<?xml version="1.0"?>
<config>
    <modules>
        <Mage_ExampleProject>
            <version>{{extension.version}}</version>
        </Mage_ExampleProject>
    </modules>

    <global>
        <blocks>
            <ExampleProject>
                <class>Mage_ExampleProject_Block</class>
            </ExampleProject>
        </blocks>
        <models>
            <ExampleProject>
                <class>Mage_ExampleProject_Model</class>
            </ExampleProject>
        </models>
        <resources>
            <ExampleProject_setup>
                <setup>
                    <module>Mage_ExampleProject</module>
                    <class>Mage_ExampleProject_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ExampleProject_setup>
        </resources>
        <helpers>
            <ExampleProject>
                <class>Mage_ExampleProject_Helper</class>
            </ExampleProject>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Epay>
                    <files>
                        <default>Mage_ExampleProject.csv</default>
                    </files>
                </Mage_Epay>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <ExampleProject>
                <use>standard</use>
                <args>
                    <module>Mage_ExampleProject</module>
                    <frontName>ExampleProject</frontName>
                </args>
            </ExampleProject>
        </routers>
        <translate>
            <modules>
                <Mage_Epay>
                    <files>
                        <default>Mage_ExampleProject.csv</default>
                    </files>
                </Mage_Epay>
            </modules>
        </translate>
    </frontend>
    <default>
        <payment>
            <ExampleProject>
                <active>0</active>
                <title>ExampleProject</title>
                <model>ExampleProject/paymentMethod</model>
            </ExampleProject>
        </payment>
    </default>
</config>
